* {
    padding: 0;
    margin: 0;
}

.hero {
    padding: 0rem;
    background-blend-mode: overlay;
    background-color: rgba(242, 207, 207, 0.3);
    background-image: url('/assets/image/bg6.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-family: "Bonheur Royale", cursive;
    font-weight: 500;
    font-style: normal;

    padding: 0.7rem;
    margin: 0%;
    position: relative;
    margin-left: 50px;
    color: rgb(0, 0, 0);
}

.main {
    margin-left: 20rem;
    display: flex;
    margin-top: 7%;
    flex-direction: row;
    justify-content: left;
    min-height: 100vh;
    text-align: center;
    font-size: large;
}

.butt {
    margin-top: 2rem;
    background-color: rgba(154, 44, 49, 0.823);
    color: white;
    padding: 1rem;
    min-width: 15rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.7s ease;
}

.butt:hover {
    background-color: rgb(38, 38, 38);
    transform: scale(1.1);
    border-radius: 1rem;
    box-shadow: rgba(15, 26, 0, 0.551) 0px 0px 50px;
}

.title {
    margin-top: 4rem;
    margin-left: 1rem;
    font-size: 4rem;
}

.para {
    position: relative;
    width: 50rem;
}

.quotebox {
    background-color: rgba(243, 183, 183, 0.801);


}

.author {
    margin-left: 7rem;
}

.cardmain {
    background-color: rgba(251, 248, 248, 0.464);
}

.limit-text {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 4.5em;
}

.btn-view {
    margin-bottom: 1rem;
    border: none;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: rgb(220, 110, 119);
}

.btn-view:hover {
    color: rgb(12, 12, 12);
    background-color: rgb(234, 130, 122);
    transform: scale(1.1);
    border-radius: 0.5rem;
    box-shadow: rgba(131, 3, 45, 0.586) 0px 0px 50px;

}

.bor {
    color: rgb(37, 21, 9);
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('/assets/image/bg4.jpg');


}

.box {

    padding: 2rem;
}

.butt {
    margin-top: 1rem;
    background-color: rgba(179, 31, 43, 0.848);
    color: white;
    padding: 1rem;
    min-width: 7rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.7s ease;
}

.butt:hover {
    background-color: rgb(38, 38, 38);
    transform: scale(1.1);
    border-radius: 1rem;
    box-shadow: rgba(15, 26, 0, 0.551) 0px 0px 10px;
}

p {
    margin: 1rem;
}