<section class="full">
  <section class="author-section">
  
    <div class="author-card" *ngIf="UserAtributes">
      <h2>Author Details</h2>
      <img [src]="UserAtributes.photoUrl || 'assets/image/default.png'" (error)="onImgError($event)"
        class="author-img" />
      <h3>{{ UserAtributes.name }}</h3>
      <p><strong>Title:</strong> {{ UserAtributes.title }}</p>
      <p>{{ UserAtributes.description }}</p>
      <p><strong>Likes:</strong> {{ UserAtributes.likes || 0 }}</p>
<button class="like" (click)="likeAuthor()">❤️ Like</button>

    </div>
    

    
    <div class="comments-section">
      <h3>Comments</h3>
      <div *ngIf="commentsList.length > 0; else noComments">
        <ul>
          <li *ngFor="let comment of commentsList">
            {{ comment.content }}
            <button class="del" (click)="deleteComment(comment.id)">⛔</button>
          </li>
        </ul>
      </div>
      <ng-template #noComments>
        <p>No comments yet.</p>
      </ng-template>
    </div>

    <div class="add-comment">
      <h3>Add Comment</h3>
      <input type="text" [(ngModel)]="commentContent" placeholder="Write a comment..." />
      <button (click)="addComment()">Submit</button>
    </div>
  </section>
</section>